.nameTitle{
    border: 1px solid #2F2F2F;
    background-color: #212121;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: max-content;
    margin: 0 auto;
    color: white;
    font-size: clamp(2.5rem, 6vw, 4rem);
    user-select: none;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif; 
    letter-spacing: 1.5px;   
}
body{
    background-color: #171717;
}